@import "./variable";

@mixin flexDisplay {
  display: flex;
  align-items: center;
}

@mixin circleSize($w , $h) {
  width : $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $backgroundColor;
}

.container {
  @include flexDisplay();
  height: 80px;
  width: 400px;
  background-color: #fff;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // adjustment to center
}

.container li {
  list-style: none;
  height: 70px;
  width: 75px;
  text-align: center;
  font-size: 13px;
  position: relative;
  left: 15px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 25px;
    position: relative;
    top: 24px;
    pointer-events: none;
    transition: all .3s;
  }

  p {
    font-size: 9px;
    opacity: 0;
    margin-top: 35px;
    transition: all .2s;
  }
}

.container .marker {
  @include circleSize(40px, 40px);
  border-radius: 50%;
  background-color: $backgroundColor;
  position: absolute;
  top: -17px;
  left: 33px;
  @include flexDisplay();
  justify-content: center;
  transition: all .3s;

  &::before {
    content: "";
    @include circleSize(20px,20px);
    background-color: transparent;
    border-top-right-radius: 20px;
    position: absolute;
    top: 42%;
    left: -16px;
    box-shadow: 0 -10px 0 0 $backgroundColor;
  }

  &::after{
    content: "";
    @include circleSize(20px,20px);
    background-color: transparent;
    border-top-left-radius: 20px;
    position: absolute;
    top: 42%;
    right: -16.35px;
    box-shadow: 0 -10px 0 0 $backgroundColor;
  }

  .circle {
    @include circleSize(20px, 20px );
    background-color: #fff;
    border-radius: 100%;
  }
}