@import "./variable";

@mixin flexDisplay {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: $backgroundColor;
}

.container {
  @include flexDisplay();
  height: 80px;
  width: 400px;
  background-color: #fff;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // adjustment to center
}

.container li {
  list-style: none;
  height: 70px;
  width: 75px;
  text-align: center;
  font-size: 13px;
  position: relative;
  left: 15px;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 25px;
    position: relative;
    top: 24px;
    pointer-events: none;
    transition: all .2s;
  }

  p {
    font-size: 9px;
    opacity: 0;
    margin-top: 35px;
    transition: all .2s;
  }
}
